{% extends 'base.html' %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/custom.js"></script>
<main class="container my-4" id="cartList">
	<h3 class="my-4 border-bottom pb-1">Cart({{totalitems}})</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Name</th>
				<th>Qty</th>
				<th>Total</th>
				<th>Final Price</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for product_id,item in cart_data.items %}
			<tr>
				<td>
					
					<img src="{{item.image}}" width="50" />
					<!-- <p><a href="/product/{{item.title|slugify}}/{{product_id}}">{{item.title}}</a></p> -->
					<td>{{item.title}}</td>
				</td>
				<td>
					<div class="cart_quantity_button">
						<div class="cart_quantity_button">
							<input type="button" minlength="1"  onclick="decrementValue('{{product_id}}')" value=" - " />
							<input type="text" id="product-qty-{{product_id}}" name="quantity" value="{{item.qty}}" minlength="1" maxlength="2" max="10" size="1" readonly/>
							<input type="button" onclick="incrementValue('{{product_id}}')" value="+" />
						</div>
					</div>
				</td>
				<td >$ {{item.price}}</td>
				<td class="price">$ {% widthratio item.price 1 item.qty %}</td>
				<td><button> <i class="fa fa-trash-o" style="font-size:20px;color:red"></i></button></td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"></td>
				<th>Total</th>
				<th class="price">Rs. {{total_amt}}</th>
				{% if totalitems %}
				<tr>
					<!-- <td colspan="4">
						<a href="" class="btn btn-dark btn-sm">Checkout <i class="fa fa-long-arrow-alt-right"></i></a>
					</td> -->
				</tr>
				{% endif %}
		</tfoot>
	</table>
	<!-- <div>
		<form>
			<div class="form-group">
				<label>Have Coupon?</label>
				<div class="input-group">
					<input type="text" name="coupon" class="form-control">
					<span class="input-group-append">
						<button type="submit" class="btn btn-primary">Apply</button>
					</span>
				</div>
			</div>
		</form>
	</div> -->
	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<div class="input-group">
								<span>Apply Coupon</span>
								<input type="text" name="coupons" id="coupons" class="form-control">
								<span class="input-group-append">
									<button type="submit" class="btn btn-primary apply" id="apply" required>Apply</button>
									<button type="submit" class="btn btn-primary remove" id="remove">Remove</button>
								</span>
							</div>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area coupon">
						<ul>
							<li >Cart Sub Total <span id="prd_amt" class="price">{{total_amt}}</span></li>
							{% if total_amt > 500 %}
							<li>Shipping Cost <span id="zero">0</span></li>
							{% else %}
							<li>Shipping Cost <span id="fifty">50</span></li>
							{% endif %}
							<li id="dist">Discount<span id="msg"></span></li>

							<form action="checkout.html" method="POST">
							<li>Total <span id="ftotal" name="ftotal" class="price" >{{total_amt}}</span></li>
						
							
						</ul>
							<!-- <button class="btn btn-default update" >Update</button> -->
							<a class="btn btn-default check_out" 
							href="{% url 'G_shopper:checkout' %}" onclick="handleSubmit()">Check Out</a>
						</form>
							<a class="btn btn-default check_out" 
							href="{% url 'G_shopper:address' %}">Add Address</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{% endblock %}

