{%  extends 'base.html' %}
{% block content %}
{% load static %}

<h1 style="text-align:center;">Change Password</h1>
<br/><br/>
<div class="container">
<div class="form-group" style="width:40%;margin-left:350px;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Change Password</button>
    </form>
    <a href="{% url 'G_shopper:home' %}"><button class="btn btn-primary">Cancel</button></a>
</div>
    </div>
<br><br>
{% endblock %}