{% extends 'base.html' %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/static/js/check.js"></script>
<main class="container my-4" id="cartList" onload="checkCookies()">
    <h3 class="my-4 border-bottom pb-1">Cart({{totalitems}})</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id,item in cart_data.items %}
            <tr>
                <td>
                    <input type="hidden" class="product_id-{{product_id}}" value="{{item.id}}">
                    <img src="{{item.image}}" width="50" />
                    <p><a href="/product/{{item.title|slugify}}/{{product_id}}">{{item.title}}</a></p>

                </td>
                <td>
                    <div class="cart_quantity_button">
                        <div class="cart_quantity_button">
                            <input type="text" id="product-qty-{{prod.id}}" name="quantity" value="{{item.qty}}"
                                maxlength="2" max="10" size="1" readonly />
                        </div>
                    </div>
                </td>
                <td>$ {{item.price}}</td>
                <td>$ {% widthratio item.price 1 item.qty %}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <th>Total</th>
                <th>Rs. {{total_amt}}</th>
                <!-- {% if totalitems %}
            <tr>

            </tr>
            {% endif %} -->
        </tfoot>
    </table>
    <!-- <div>
		<form>
			<div class="form-group">
				<label>Have Coupon?</label>
				<div class="input-group">
					<input type="text" name="coupon" class="form-control">
					<span class="input-group-append">
						<button type="submit" class="btn btn-primary">Apply</button>
					</span>
				</div>
			</div>
		</form>
	</div> -->
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your
                    delivery cost.</p>
            </div>
            <!-- <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <ul class="user_option">
                            <div class="input-group">
                                <span>Apply Coupon</span>
                                <input type="text" name="coupon" id="coupon" class="form-control">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary apply" id="apply"
                                        required>Apply</button>
                                    <button type="submit" class="btn btn-primary remove" id="remove">Remove</button>
                                </span>
                            </div>
                        </ul>
                    </div>
                </div> -->
            <p><b>Select Address</b></p>
            <!-- <select name="address" class="col-sm-6">
                    <option>-----Select-----</option> -->
            {% for i in address %}
            <input type="radio" id="address" name="fav_lang" value="address">
            <input type="hidden" id="hiddenaddress" name="fav_lang" value="{{i.id}}">
            <label for="addressd">{{i.address_1}} {{i.address_2}} {{i.city}} {{i.state}} {{i.zip_code}} </label>
            <br>
            {% endfor %}
            <!-- </select> -->
            <br>
        </div>
        <div class="col-sm-6">
            <div class="total_area coupon">
                <form action="" method="POST">

                    <ul>
                        <li>Cart Sub Total <span id="prd_amt">{{total_amt}}</span></li>
                        {% if total_amt > 500 %}
                        <li>Shipping Cost <span class="shipamt">0</span></li>
                        {% else %}
                        <li>Shipping Cost <span class="shipamt">50</span></li>
                        {% endif %}
                        <!-- <li id="dist">Discount<span id="msg"></span></li> -->
                        <li>Total <span name="ftotal" id="ftotal"></span></li>
                    </ul>
                </form>
            </div>
        </div>
        <input type="radio" class="payload" id="cod" name="fav_language" value="cod">
        <label for="cod">COD</label><br>
        <form action="" hidden>
            <input type="text" value="" id="">
        </form>
        <!-- <input type="radio" class="payload"  id="stripe" name="fav_language" value="stripe">
        <label for="paypal">stripe</label><br> -->
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key={{ "pk_test_51LsPV8SFVCTJbUjWNOI1m4Qmrp2tXWBDijvD5QCY32hqx7v72UrEMn8ZcuRELi1Nqj1SGo4vN9rduf9CVAyAmRjK00uymD8Aj9" }}
        data-name="G_shopper"
        data-description="Payment Gateway"
        data-amount="500"
        data-label="Pay with stripe">
        </script> <br>
        <button type="submit" class="btn btn-primary order"  required>Checkout</button>

        </div>
    </section>
</main>

<br>
{% endblock %}