{% extends 'base.html' %}
{% block content %}
<h1 style="text-align:center;">My Account</h1>

<h3 align="center">First Name</h3>
<h5 align="center">{{first_name}}</h5>
<h3 align="center">Last Name</h3>
<h5 align="center">{{last_name}}</h5>
<h3 align="center">UserName</h3>
<h5 align="center">{{users}}</h5>
<h3 align="center">User_Email</h3>
<h5 align="center">{{user_email}}</h5>
<h3 align="center">User_Address</h3>
{% for i in address %}
<div class="text-center">
    <label for="addressd">{{i.address_1}} {{i.address_2}} {{i.city}} {{i.state}} {{i.zip_code}} </label>
    <br>
</div>
{% endfor %}
<div class="text-center">
    <a href="{% url 'G_shopper:edit-profile' %}"><button class="btn btn-primary">Update Info</button></a>
    <a href="{% url 'G_shopper:home' %}"><button class="btn btn-primary">Cancel</button></a>
</div>

{% endblock %}