<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <p>
        {{data|safe}}
        <table>
            <tr>
              <th>Sr No</th>
              <th>Product Id</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
            <tr>
              <td>{{order_details.order_id}}</td>
              <td>{{order_details.product_id}}</td>
              <td>{{order_details.quantity}}</td>
              <td>{{order_details.amount}}</td>
            </tr>

          </table>
    </p>
</body>

</html>