{% extends 'base.html' %}
{% block content %}
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key={{ "pk_test_51LsPV8SFVCTJbUjWNOI1m4Qmrp2tXWBDijvD5QCY32hqx7v72UrEMn8ZcuRELi1Nqj1SGo4vN9rduf9CVAyAmRjK00uymD8Aj9" }}
data-name="G_shopper"
data-description="Payment Gateway"
data-amount="500"
data-label="Pay with stripe">
</script>

{% endblock %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>

<script type="text/javascript">
	
	var stripe = Stripe('pk_test_51LsPV8SFVCTJbUjWNOI1m4Qmrp2tXWBDijvD5QCY32hqx7v72UrEMn8ZcuRELi1Nqj1SGo4vN9rduf9CVAyAmRjK00uymD8Aj9');
var checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function() {
  stripe.redirectToCheckout({
    // Make the id field from the Checkout Session creation API response
    // available to this file, so you can provide it as argument here
    // instead of  the {{CHECKOUT_SESSION_ID}} placeholder.
    // sessionId: '<%= @session.id %>'
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
  });
});


</script>
