{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="col-sm-12">
                            <form method="post">
                                {% csrf_token %}
                            <h4>Email Id</h4>
                            <input type="email" name="email" class="email_id" placeholder="Enter Email Id">
                            <h4>Order Id</h4>
                            <input type="number" name="order_id" class="order_id" placeholder="Enter Order Id"> <br><br>
                            <button type="submit" class="btn btn-primary" id="order_trace">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}

{% block script %}
<script>
$(document).on('click','#order_trace',function () {
    debugger;
    console.log("Hello")
    let email_track = document.getElementsByClassName('email_id')
    let orderid_track = document.getElementsByClassName('order_id')
    console.log(email_track,orderid_track)
    $.ajax({
            type: "POST",
            url: 'order_track/',
            data: JSON.stringify({
                "email":email_track,
                "order_id": orderid_track,
            }),
            contentType: "application/json; charset=UTF-8",
            success: function (data) {
                debugger;
                console.log(data)  
                $("#cart_data").empty();              
                 }
        });
    });

</script>

{% endblock %}