djangoenv
db.sqlite3/

__pycache__/


.vscode
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history


#for migration
_migrations/*
!_migrations/__init__.py