djangoenv
db.sqlite3

__pycache__/


.vscode
!.vscode/settings.json 



# #for migration
# migrations/*
# **/**/migrations
# !_migrations/__init__.py

**/migrations/**
!**/migrations
!**/migrations/__init__.py