{% extends 'starter.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1>General Form</h1> -->
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add product</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6" style="position: relative; left: 300px;">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add product</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="{% url 'customAdminPanel:product_form' %}" id="indexForm" 
             method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  {{ form.name }}
                </div>
                <div class="form-group">
                  <label for="sku">Sku</label>
                  {{ form.sku }}
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="short_description">Short description</label>
                  {{ form.short_description }}
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="long_description">Long description</label>
                  {{ form.long_description }}
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  {{ form.price }}
                </div>
                <div class="form-group">
                  <label for="status">Status</label>
                  {{ form.status }}
                </div>
                <div class="form-group">
                  <label for="quantity">Quantity</label>
                  {{ form.quantity }}
                </div>
                <div class="form-group">
                  <label for="meta_title">Meta title</label>
                  {{ form.meta_title }}
                </div>
                <div class="form-group">
                  <label for="meta_description">Meta description</label>
                  {{ form.meta_description }}
                </div>
                <div class="form-group">
                  <label for="meta_keywords">Meta keywords</label>
                  {{ form.meta_keywords }}
                </div>
                <div class="form-group">
                  <label for="is_featured">Is featured</label>
                  {{ form.is_featured }}
                </div>
                <div class="form-group prod_img">
                  <label for="image_path">Image</label>
                  {{ form1.image_path }}
                  <button type="button" class="fa fa-plus" id="addMoreImage">Add image</button>
                </div>
                <div class="form-group" id="product_attribute">
                  <label for="product_attribute_id" id="prod_attr">Attribute id</label>
                  {{ form2.product_attribute_id }}
                </div>
                <div class="form-group">
                  <label for="product_attribute_value" >Attribute value</label>
                  {{ form2.product_attribute_value }}
                </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function(){
      setNavBar()
  });

  // set navebar
  function setNavBar(){ 
      $(".nav-link").removeClass("active")
      $(".product-menu").addClass("active")
  }
</script>

<script>
  $("#addMoreImage").click(function(){
          $('.prod_img').append(

              '<div class="form-group prod">'+  
                  '<input name="image_path"  type="file" >'+
                  '<button type="button" class="removeQuatationBtn"><i class="fa fa-trash"></i></button>'+
              '</div>'
          );
      });
      $(".prod_img").on("click", ".removeQuatationBtn", function () {
          $(this).parents(".prod").remove();
      });
  </script>
<script>

  $("#id_product_attribute_id").change(function () {
      // const url = $("#indexForm").attr("productAttributesValue");  
      const product_Attribute_idId = $(this).val(); 

      $.ajax({                      
          url: "{% url 'customAdminPanel:productAttributesValue' %}",                   
          data: {
              'product_attribute_id': product_Attribute_idId      
          },
          success: function (data) {   
              let html_data = '<option value="">---------</option>';
                data.forEach(function (product_attribute_value) {
                    html_data += `<option value="${product_attribute_value.id}">${product_attribute_value.attribute_value}</option>`
                });
                console.log(html_data);
                $("#id_product_attribute_value").html(html_data); 
          }
      });

  });
</script>
{% endblock %}


