{% for prod in data %}
<div class="col-sm-4 product-box">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product1.jpg" alt="" /> -->
                <img src="{{prod.productimages_set.first.image_path.url}}" alt="" />
                <input type="hidden" class="product-image-{{prod.id}}"
                    value="{{prod.productimages_set.first.image_path.url}}" />
                <th>Rs <span class="product-price-{{prod.id}}">{{prod.price}}</span></th>
                <p>{{prod.name}}</p>
                <input type="hidden" class="product_id-{{prod.id}}" value="{{prod.id}}">
                <input type="hidden" class="meta_title-{{prod.id}}" value="{{prod.meta_title}}">
                <button class="btn btn-default add-to-cart" id="{{prod.id}}"><i
                        class="fa fa-shopping-cart addcart"></i>Add to cart</button>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>Rs{{prod.price}}</h2>
                    <p>{{prod.name}}</p>
                    <button class="btn btn-default add-to-cart" id="{{prod.id}}"><i
                            class="fa fa-shopping-cart addcart"></i>Add to cart</button>
                    <div class="cart_quantity_button submitWidget submitWidget-{{prod.id}}">
                        <input type="button" onclick="decrementValue('{{prod.id}}')"
                            value=" - " />
                        <input type="text" id="product-qty-{{prod.id}}" name="quantity"
                            value="1" maxlength="2" max="10" size="1" readonly />
                        <input type="button" onclick="incrementValue('{{prod.id}}')"
                            value="+" />
                    </div>
                </div>
            </div>
        </div>
        <div class="choose">
            {% if user.is_authenticated %}
            <ul class="nav nav-pills nav-justified">
                <li><button class="btn btn-default add-wishlist" data-product="{{prod.id}}">
                        Add to wishlist</button></li>
                {% else %}
                <li><button class="btn btn-default disabled" data-product="{{prod.id}}">
                        Add to wishlist</button></li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>{% endfor %}