{% extends 'base.html' %}

{% block content %}

<!-- <section id="form"> -->
	<!--form-->
	<h1 style="text-align:center;">Registration Form....</h1>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-3">
				<div class="signup-form">
					<!--sign up form-->
					<h2>New User Signup!</h2>
					<form action="" method="post" name="Register" value="Register">
						{% csrf_token %}
						<label for="first_name">first_name</label>
						{{ form.first_name }}
						<label for="last_name">last_name</label>
						{{ form.last_name }}
						<label for="email" name="Register" value="Register">email</label>
						{{ form.email }}
						{{ form.errors.email }}
						<label for="username" name="Register" value="Register">username</label>
						{{ form.username }}
						{{ form.errors.username }}
						<label for="password1" name="Register" value="Register">password</label>
						{{ form.password1 }}
						{{ form.errors.password1 }}
						<label for="password2">confirm password</label>
						{{ form.password2 }}
						{{ form.errors.password2 }}
						<button type="submit" class="btn btn-default" name="Register" value="Register">Signup</button>
					</form>
				</div>
				<!--/sign up form-->
				<br>
				<label>If already have an account</label>
				<a href="{% url 'G_shopper:login' %}">Log In</a>
			</div>
		</div>
	</div>

<!--/form-->

{% endblock %}