<!-- <!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Starter</title>
  {% load static %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

{% include "header.html" %}

{% include "sidebar.html" %}

{% block content %}

{% endblock %}

</div>

{% include "footer.html" %}

<script src="/static/plugins/jquery/jquery.min.js"></script>

<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/static/dist/js/adminlte.min.js"></script>
</body>
</html> -->