{% extends 'starter.html' %}

{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">productImages</li>
                            </ol>
                        </div>
                        <form action="{% url 'customAdminPanel:productImages_form' %}">
                            <!-- <button  type="submit" class="btn btn-primary btn-block">Sign Out</button> -->
                            <button style="float: right; width: 150px; height: 40px;" type="submit"
                                class="btn btn-block btn-primary">Add</button>
                        </form>
                        <div class="card-body" style="width:100%; overflow: scroll;">
                            <table id="example2" class="table table-bordered table-hover" style="width:2000px;">
                                <thead>
                                    <tr>
                                        <th>Image name</th>
                                        <th>status</th>
                                        <th>created by</th>
                                        <th>created_date</th>
                                        <th>modify_by</th>
                                        <th>modify_date</th>
                                        <th>product_id</th>
                                        <th scope="col" colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in obj %}
                                    <tr>
                                        <td>{{i.image_name}}</td>
                                        <td>{{i.status}}</td>
                                        <td>{{i.created_by}}</td>
                                        <td>{{i.created_date}}</td>
                                        <td>{{i.modify_by}}</td>
                                        <td>{{i.modify_date}}</td>
                                        <td>{{i.product_id}}</td>
                                        <td>
                                            <a href="{% url 'customAdminPanel:EditProductImage' i.id %}"><button
                                                    class="btn btn-default btn-sm"><i
                                                        class="fas fa-edit"></i></button></a>
                                        </td>
                                        <td>
                                            <button type="submit" value="Delete" class="btn btn-danger btn-sm"
                                                data-toggle="modal" data-target="#deletemodal">
                                                Delete
                                            </button>
                                            <div class="modal fade" id="deletemodal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form action="{% url 'customAdminPanel:Delete_productImage' %}"
                                                            method="POST">
                                                            {% csrf_token %}
                                                            <div class="modal6-body">
                                                                <input type="hidden" name="id" value={{i.id}}>
                                                                <h4>Do you want to delete this data??</h4>
                                                            </div>
                                                            <div class="modal-footer justify-content-between">
                                                                <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-danger">Ok
                                                                </button>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- <script type="text/javascript">
  $(document).ready(function () {
    $("ul li a").click(function(){  
      // $('a.active').each(function(){
      $('li a').find(".active").removeClass('active');
      $(this).parent().addClass('active');
    });
  });
</script> -->
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        setNavBar()
    });

    // set navebar
    function setNavBar() {
        $(".nav-link").removeClass("active")
        $(".productImages-menu").addClass("active")
    }
</script>
{% endblock %}