{% extends 'starter.html' %}

{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">productAttributesValues</li>
                            </ol>
                        </div>
                        <form action="{% url 'customAdminPanel:productAttributesValues_form' %}">
                            <!-- <button  type="submit" class="btn btn-primary btn-block">Sign Out</button> -->
                            <button style="float: right; width: 150px; height: 40px;" type="submit"
                                class="btn btn-block btn-primary">Add</button>
                        </form>
                        <option value="">---------</option>
                        {% for product_attribute_value in product_attribute_value %}
                        <option value="{{ product_attribute_value.pk }}">{{ product_attribute_value.attribute_value }}</option>
                        {% endfor %}
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>product attribute id</th>
                                        <th>attribute_value</th>
                                        <th>created_by</th>
                                        <th>created_date</th>
                                        <th>modify_by</th>
                                        <th>modify_date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in obj %}
                                    <tr>
                                        <td>{{i.product_attribute_id}}</td>
                                        <td>{{i.attribute_value}}</td>
                                        <td>{{i.created_by}}</td>
                                        <td>{{i.created_date}}</td>
                                        <td>{{i.modify_by}}</td>
                                        <td>{{i.modify_date}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        setNavBar()
    });

    // set navebar
    function setNavBar() {
        $(".nav-link").removeClass("active")
        $(".productAttributesValues-menu").addClass("active")
    }
</script>
{% endblock %}